exclude tests/4-B3D_Rave_pt45_Natural_high.npz
include .pre-commit-config.yaml
include AUTHORS.md
include CHANGES.md
include CONTRIBUTING.rst
include LICENSE.md
include README.md
include noxfile.py
include requirements*.txt
recursive-exclude data *
recursive-exclude notebooks *
recursive-exclude scripts *
recursive-include tests *csv *npy *py *yaml
